/.project

#
# ESS Mod GIT : files to be ignored
#


#
# R settings that are strictly local
#

directories.R

#
# R temporary files
#

.Rhistory

#
# TEX temporary files
#

*.log
*.aux
*.out
*.bbl
*.lof
*.synctex.gz
*.toc
.Rproj.user
*.blg
